numpy
protobuf==4.25.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio==2.4.1
# fastapi==0.115.0
# uvicorn[standard]==0.30.6
python-multipart==0.0.9
websockets==13.1
# opencv-python-headless==4.10.0.84
mediapipe
hsemotion-onnx==0.3.1
onnxruntime==1.19.2
# faster-whisper==1.0.3
# sentence-transformers==3.1.1
httpx==0.27.2
# groq==0.11.0
yt-dlp>=2024.10.7
# python-dotenv==1.0.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch
opencv-python-headless
mediapipe
faster-whisper
groq
fastapi
uvicorn
# gradio
python-dotenv